.Projects{
    
    margin-left: 270px;
}

.project-title{
    color: #FF7B7B;
    font-size: 40px;
}

.project-preview {
    height: 120px;
    padding: 20px;
    background-color: #ffffff;
    margin: 25px 0px 0px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.project-preview h2{
    margin-bottom: 8px;
    font-size: 30px;
    color: black;
}

.project-preview p{
    color: black;
}